[build]
target = "xtensa-esp32-espidf"

[target.xtensa-esp32-espidf]
linker = "ldproxy"
runner = "espflash flash --monitor"

[unstable]
build-std = ["std", "panic_abort"]

[env]
MCU = "esp32"
ESP_IDF_VERSION = "v5.2.3"
ESP_IDF_TOOLS_INSTALL_DIR = "global"
ESP_IDF_SDKCONFIG_DEFAULTS = "sensor/sdkconfig.defaults"
